html {
  box-sizing: border-box;
  -webkit-text-size-adjust:100%;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &:after{
    clear: both;
    display: block;
    content: "";
  }
}
*{
  margin:0;
  padding: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba($text-color,.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba($text-color,.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba($text-color,.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba($text-color,.5);
}

// adaptive images
img {
  max-width: 100%;
}

a,
a:hover, a:active, a:focus,
object, embed,
input::-moz-focus-inner, button{
   outline: 0;
}
input[type="reset"], input[type="submit"], input[type="button"], button{
  border: none;
  cursor:pointer;
  @include transition_hover();
}
a {
    text-decoration: none;
    outline:none;
    border:none;
    &:hover, &:focus {
        text-decoration: none;
        outline: none;
        outline-offset: 0;
    }
}
ul, li{
  list-style: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong,em,b,em{
  &:after{
    display: none;
  }
}
strong,b{
  font-weight: $bold;
  clear: both;
  display: block;
}
em{
  font-style: $italic;
}
body{
  font: $regular 16px/20px $text;
  color:$text-color;
  @include transition_hover(1s);
}
h1,h2,h3,h4,h5,h6{
  font-weight: $semi;
  font-family: $text;
  color:$text-color;
  line-height: 1;
  word-break:break-all;
}
h1{
  font-size: 35px;
  @include breakpoint(small) {
    font-size: 60px;
  }
}
h2{
  font-size: 26px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 28px;
  @include breakpoint(small) {
    font-size: 30px;
  }
}
h5{
  font-size: 24px;
  @include breakpoint(small) {
    font-size: 26px;
  }
}
h6{
  font-size: 22px;
  @include breakpoint(small) {
    font-size: 24px;
  }
}
p{
  font: $regular 16px/24px $text;
  color:$text-color;
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0;
  }
  a{
    font-size: 16px;
    color:$text-color;
    text-decoration: underline;
    @include transition_hover();
    &:hover{
      text-decoration: underline;
      color:$theme-color;
    }
    &:after{
      display: none;
    }
  }
}
a{
  font:$regular 15px $text;
  color:$text-color;
  @include transition_hover;
  &:hover{
    color:$theme-color;
  }
}

.text-left{
  text-align: left;
}
.text-right{
  text-align:right;
}
.text-center{
  text-align: center;
}