$theme-color:#711737;
$theme-light-color:#9D2248;
$primary-color:#80A8CC;
$grey-dark:#57656C;
$grey:#ECEFF1;
$white:#FFF;
$black:#000;
$magenta:#6CB1BE;
$green-step:#89C943;
$red:#D0021B;

$grey-light:#f6f6f6;

$text-color:#001C4E;
$border-color:#78B2C6;

$sky-blue:#00B9E6;
$dark-blue:#191936;
$dark-blue-1:#354467;

$maroon:#9D2248;
$dark-maroon:#5F132E;
$dark-maroon-1:#901E42;

$green:#469500;
$dark-green:#2A5A00;
$dark-green-1:#418A00;

$orange:#FF7F00;
$dark-orange:#E45B00;
$dark-orang-1:#FC6A00;

$btn-color:#9FDCF1;
$orange:#FF6C00;
$yellow:#FFB53A;