/**
 * Description: Container Sizes
 * Version: 1.0.0
 * Last update: 2018/01
 * Author: Gledpan
 *
 * Summary:
 *
 * 1. CONTAINER SIZES
 *    - 1.1. CONTAINER SMALL
 *    - 1.2. CONTAINER MEDIUM
 *    - 1.3. CONTAINER LARGE
 *    - 1.4. ROW
 * 2. TWO COL, THREE COL, FOUR COL
 *    - 2.1. TWO COL
 *    - 2.2. THREE COL
 *    - 2.3. FOUR COL
 */

/* ==========================================================================
   1. CONTAINER SIZES
   ========================================================================== */
.container-small, .container-medium, .container {
   position: relative;
   padding: 0 15px;
   margin: 0 auto;
   clear: both;
}

/* 1.1. CONTAINER SMALL
   ========================================================================== */
.container-small {
   @include breakpoint(medium) {
      width: 890px;
      padding: 0 15px;
   }

}

/* 1.2. CONTAINER MEDIUM
   ========================================================================== */
.container-medium {
   @include breakpoint(large) {
      width: 1070px;
   }

}

/* 1.3. CONTAINER LARGE
   ========================================================================== */
.container {
   @include breakpoint(x-large) {
      width: 1250px;
   }

}

/* 1.4. ROW
   ========================================================================== */
.row {
   margin: 0 -15px;
}

/* ==========================================================================
   TWO COL , THREE COL, FOUR COL
   ========================================================================== */
.two-col, .three-col, .four-col {
   margin-left: -30px;
   margin-top: -30px;
   display: flex;
      flex-wrap: wrap;
      // width: 100%;

   @include breakpoint(small) {
      
   }

   .col {
      margin-top: 30px;
      margin-left: 30px;

      &:last-child {
         margin-bottom: 0;
      }

      @include breakpoint(small) {
         margin-bottom: 0;
      }

   }

}

/* TWO COL
   ========================================================================== */
.two-col {
   .col {
      @include breakpoint(x-small) {
         width: calc(50% - 30px);
         
         margin-bottom: 0;
      }

   }
}
ul.two-col{
   li {
      @include breakpoint(x-small) {
         width: calc(50% - 30px);
         margin-bottom: 0;
      }

   }

}

/* THREE COL
   ========================================================================== */
.three-col{
   
   .col {
      @include breakpoint(x-small) {
         width: calc(33.33% - 30px);
         margin-left: 30px;
      }

   }

}
ul.three-col{ 
   li {
      @include breakpoint(x-small) {
         width: calc(33.33% - 30px);
         margin-left: 30px;
      }

   }

}

/* 
FOUR COL
========================================================================== */
.four-col, ul.four-col {
   .col, li {
      @include breakpoint(x-small) {
         width: calc(50% - 30px);
         margin-left: 30px;
      }

      @include breakpoint(large) {
         width: calc(25% - 30px);
      }

   }

}

ul.four-col {
   li {
      @include breakpoint(x-small) {
         width: calc(50% - 30px);
         margin-left: 30px;
      }

      @include breakpoint(large) {
         width: calc(25% - 30px);
      }

   }

}
ul.four-col,ul.three-col,ul.two-col{
   margin-top: -30px;
   li{
      margin-top: 30px;
      margin-left: 30px;
   }
}
.common-block {
   padding: 75px 0 ;
}
footer.common-block{
      padding: 50px 0;
   }
