.section-title{
	margin-bottom: 50px;
	width: 100%;
	h1,h2,h3,h4,h5,h6{
		margin-bottom: 30px;
		span{
			font-size:16px;
			font-weight: $bold;
			display: block;
			margin-top: 10px;
		}
	}
	p{
		margin-top: 30px;
		max-width: 700px;
		margin: 0 auto;
	}
}
.section-link{
	margin-top: 40px;
	width: 100%;
}
.bg-green.bg-block{
	.btn{
		color:$green;
	}
}