footer{
	h3{
		font-size: 14px;
		margin-bottom: 20px;
	}
}
.footer-menu{
	margin-bottom: 50px;
	margin-left:-50px;
	display: flex;
	flex-wrap:wrap;
	margin-top: -50px;
	@include breakpoint(large){
		margin-bottom: 100px;
	}
	.foot-menu{
		margin-left: 50px;
		margin-top: 50px;
		width: calc(50% - 50px);
		@include breakpoint(xx-small){
			float:left;
			width: calc(33.33% - 50px);
		}
		@include breakpoint(small){
			width: calc(25% - 50px);
		}
		@include breakpoint(large) {
			width: calc(20% - 50px);
		}
		@include breakpoint(x-large) {
			width: calc(14.285714285714286% - 50px);
		}
		a{
			font-size: 16px;
		}
	}
}
.partner-logo{
	margin-bottom: 40px;
}
.bottom-footer{
	.partner-logo{
		
		@include breakpoint(small){
			float: left;
			margin-bottom: 0;
		}
	}
	.bottom-footer-right{
		@include breakpoint(small){
			float: right;
		}
	}
}
.social-icon{
	text-align: center;
	@include breakpoint(small){
		text-align: left;
		float: right;
	}
	margin-bottom: 20px;
	ul{
		@include breakpoint(small){
			margin-left: -10px;
		}
	li{
		display: inline-block;
		margin:0 5px;
		@include breakpoint(small){

		float: left;
		display: inherit;
		margin: 0 0 0 10px;
	}
		a{
			display: block;
			width:30px;
			height: 30px;
			line-height: 32px;
			text-align: center;
			font-size: 16px;
			@include border-radius(50%);
			@include border(all, 1px,solid, $text-color);
		}
	}
	}
}
.privacy-copyright{
	clear: both;
	.privacy-menu{
		@include breakpoint(small){
		float: left;
	}
		ul{
			text-align: center;
			
			@include breakpoint(small){
				text-align: left;
				margin-left: -30px;
			}
		li{
			display: inline-block;
			margin:0 15px;
			@include breakpoint(small){
			float: left;
			margin:0 0 0 30px;
			display: inherit;
		}
			a{
				display: block;
			}
		}
		}
	}
	.copyright{
		text-align: center;
		margin-top: 30px;
		@include breakpoint(small){
		float: right;
		text-align: left;
		margin-top: 0;
	}
		margin-left: 30px;
		font-size: 14px;
		p{
			color:$text-color;
		}
		strong,b{
			clear: initial;
			display: inline-block;
		}
	}
}
