/**
 * Description: Container Sizes
 * Version: 1.0.0
 * Last update: 2018/01
 * Author: Gledpan
 *
 * Summary:
 *
 * 1. CONTAINER SIZES
 *    - 1.1. CONTAINER SMALL
 *    - 1.2. CONTAINER MEDIUM
 *    - 1.3. CONTAINER LARGE
 *    - 1.4. ROW
 * 2. TWO COL, THREE COL, FOUR COL
 *    - 2.1. TWO COL
 *    - 2.2. THREE COL
 *    - 2.3. FOUR COL
 */

/* ==========================================================================
   1. CONTAINER SIZES
   ========================================================================== */
.container-small, .container-medium, .container-large {
   position: relative;
   padding: 0 15px;
   margin: 0 auto;
   clear: both;
}

/* 1.1. CONTAINER SMALL
   ========================================================================== */
.container-small {
   @include breakpoint(medium) {
      width: 890px;
      padding: 0 15px;
   }

}

/* 1.2. CONTAINER MEDIUM
   ========================================================================== */
.container-medium {
   @include breakpoint(large) {
      width: 1070px;
   }

}

/* 1.3. CONTAINER LARGE
   ========================================================================== */
.container-large {
   @include breakpoint(x-large) {
      width: 1270px;
   }

}

/* 1.4. ROW
   ========================================================================== */
.row {
   margin: 0 -15px;
}

/* ==========================================================================
   TWO COL , THREE COL, FOUR COL
   ========================================================================== */
.two-col, .three-col, .four-col {
   margin-left: -30px;
   margin-top: -30px;

   @include breakpoint(small) {
      display: flex;
      flex-wrap: wrap;
   }

   .col {
      margin-top: 30px;
      height: 100%;
      margin-left: 30px;

      &:last-child {
         margin-bottom: 0;
      }

      @include breakpoint(small) {
         margin-bottom: 0;
      }

   }

}

/* TWO COL
   ========================================================================== */
.two-col {
   .col,li {
      @include breakpoint(x-small) {
         width: calc(50% - 30px);
         float: left;
         margin-bottom: 0;
      }

   }

}

/* THREE COL
   ========================================================================== */
.three-col {
   
   .col,li {
      @include breakpoint(x-small) {
         width: calc(33.33% - 30px);
         margin-left: 30px;
         float: left;
      }

   }

}

/* 
FOUR COL
========================================================================== */
.four-col {
   .col, li {
      @include breakpoint(x-small) {
         width: calc(50% - 30px);
         margin-left: 30px;
         float: left;
      }

      @include breakpoint(small) {
         width: calc(25% - 30px);
      }

   }

}
.four-col,.three-col,.two-col{
   margin-top: -30px;
   li{
      margin-top: 30px;
      margin-left: 30px;
   }
}
.common-block {
   margin-top: 60px;
   margin-bottom: 60px;
}
