.news-list{
	color:$text-color;
	h3,p,a{
		color:$text-color;
	}
	h3,p{
		margin:20px 0;
	}
	h3{
		min-height: 60px;
	}
	h3,h3 a{
		font-size: 15px;
		line-height: 20px;
		font-weight: $bold;
	}
	p{
		font-size: 14px;
		line-height: 20px;
	}
	.col,li{
		background: $white;
		// @include border(all,1px,solid,$border-color);
		@include border-radius(7px);
		padding: 30px;
		.img-block {
			img{
				width: 100%;
			}
		}
		.news-info{
			.date,.file-format{
				float: right;
				font-size: 12px;
			}
			.file-format{
				float: left;
				font-weight: $bold;
			}
		}
		.btn{
			margin-bottom: 20px;
			display: inline-block;
		}
		
	}
}

.download-block{
			a{
				color:$green;
				font-size: 12px;
				font-weight: $bold;
				line-height: 24px;
				i.ico-download, i.ico-eye{
					font-size: 30px;
					display: inline-block;
					vertical-align: middle;
				}
				i.ico-eye{
					color:$text-color;
				}
			}
		}